// theme/_colors.scss

$primary: #ffffff;
$primary-light: #ffffff;
$primary-dark: #cccccc;

$secondary: #2a3747;
$secondary-light: #546172;
$secondary-dark: #011120;

$on-primary: #000;
$on-primary-light: #292f33;
$on-secondary: #fff;

$highlight: #fa4141;

$brand-primary-dark: #0c0032;
$brand-primary: #484da9;
$nav-background: #ffffff;
$link-color: #888888;
$link-color-alt: #fff;
$link-hover: $brand-primary;
$link-active: darken($link-color, 50%);