// theme/_fonts.scss

@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");

$logo-font: "Share Tech Mono", monospace;
$header-font: "Raleway", sans-serif;
$core-font: "arvo", serif;
$title-font: "Merriweather Sans", sans-serif;