// theme/_fonts.scss
/*
@import url("https://fonts.googleapis.com/css?family=Raleway:800|Merriweather+Sans|Share+Tech+Mono");
@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500");
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
*/

@import '~@fontsource/mrs-saint-delafield';
@import "~@fontsource/tangerine";
@import "~@fontsource/happy-monkey";
@import "~@fontsource/rakkas";
@import "~@fontsource/raleway";
@import "~@fontsource/forum";
@import '@fontsource/source-sans-pro';

$logo-font: "Share Tech Mono", monospace;
$header-font: "Raleway", sans-serif;
$core-font: "Forum", cursive;
$title-font: "Rakkas", cursive;
$base-font:"Forum",cursive;
$fun-font:"Happy Monkey", cursive;
$tan-font:"Tangerine" ,cursive;
$sig-font:"Mrs Saint Delafield", cursive;
$article-title-font:"Raleway",cursive;
$nav-base-font:'Source Sans Pro', sans-serif;