
// index scss file
//home page
@import "../theme/theme";

.container {
  width:100%;
  height: fit-content;
  padding-bottom: 4rem;
  background-color: $brand-secondary;
  

  .module_header{
    position: relative;
    display: block;
    width: 100%;
    height:5rem;
    padding-top: 1rem;
    z-index: 9;
  }
  .logo{
    position: absolute;
    margin: auto;
    width: fit-content;
    margin-left: 2rem;
    margin-top: -4rem;
    //transform: rotate(-20deg);
  
    img{
     //background-color: green;
     width:12rem;
     height:5rem;  
    }
  
  }

.main{
  position: relative;
  margin-top: -3rem;
}
.intro_title_main {
  text-align: center;
  font-family: $title-font;
  font-weight: 900;
  font-style: normal;
  font-size: 28px;
  color: $primary;
}
.intro_wrapper{
  display: block;
  position: relative;
  width: 100%;
  height: max-content;
}
.mainImage_intro{
  position: relative;
  width: 88%;
  height: fit-content;
  margin: auto;
  overflow: hidden;
  

}
.mainImage_intro img {
  width: 100%;
  height: auto;
  margin: auto;
  aspect-ratio: 16 / 9;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(50%);
}
.mainImage_intro:hover img {
  filter: brightness(20%);
  transform: scale(3);
}
.float_title{
  position: absolute;
  top:50%;
  left:14%;
  height: fit-content;
}
.intro_post_title{
  position: realtive;
  font-family:$title-font;
  font-size: 36px;
  font-weight: 900;
  color:$primary;
  text-transform: capitalize;
  letter-spacing: 2px;

}
.click_more_intro{
  position: relative;
  font-family:$header-font;
  font-size: 16px;
  font-weight: 900;
  color:$primary;
  text-transform:uppercase;
  letter-spacing: 2px;
  background-color: $brand-secondary;
  padding: 0.6rem;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin-top: 3rem;

}
.feed {
  position: relative;
  display: flex;
  align-items: center;
  justify-content:space-between;
  height:fit-content;
  width: 88%;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 3rem;
  flex-basis: auto;
}
.post {
  max-width: calc(100vw - 50px);
  height:30rem;
  width:30%;
  cursor: pointer;
  margin-bottom: 4rem;
}
  .post_title{
    display: block;
  font-weight: 400;
  font-family: $article-title-font;
  font-size: 28px;
  line-height:130%;
  width: fit-content;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box!important;
  color:#1c1b1b;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-size-adjust: 100%;
  font-style: normal;
  margin-bottom: 0;
  }
  .blocks{
    display: block;
    display: -webkit-box;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    box-sizing: border-box!important;
    -webkit-font-smoothing: antialiased;
    font-family: $base-font;
    color:#1c1b1b;
    width:100%;
    font-size: 14px;
    line-height:1.5;
    overflow: hidden !important;
    max-height: 8rem;
    text-align:left;
    margin-bottom: 20px;
    font-weight: 100;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    -webkit-line-clamp: 4;
    margin-top: 0;

  }
  .avatar_date{
    display: flex;
  flex-direction: row;
  width: fit-content;
  margin:auto;
  margin-bottom: 1rem;
  }

  .mainImage {
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }
  
  .mainImage img {
    width: 100%;
    height: auto;
    aspect-ratio: 2000 / 1309;
    transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
  }

  .mainImage:hover img {
    filter: brightness(100%);
    transform: scale(3);
  }



  .box {
  
    input {
      opacity: 0;
      position: absolute;
      pointer-events: none;
      
    }
    
    
    input:focus ~ label {
      outline: -webkit-focus-ring-color auto 5px;
    }
    
    input:checked + p {
      -webkit-line-clamp: unset;
    }
    
    input:checked ~ label {
      display: none;
    }
    
    }
    .box {
    background-color:inherit;
    //box-shadow: 2px 2px 10px #246756;
    padding: 2em 0;
    padding-top: 0;
    width: 100%;
    max-width: calc(100vw - 20%);
    
    p {
      margin: 0;
    }
    
    label {
      display: block;
      position: relative;
      width: fit-content;
      //border-radius: 4px;
     // padding: 0.2em 0.6em;
    //  border: 1px solid #009ce2;
     // background-color: $brand-secondary-darker;
      //color: $primary;
      color:#1c1b1b;
      font-size: 1em;
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      font-family: $base-font;
      //text-decoration: underline;
      border-bottom: 1.5px solid #000;
     
    }
    }
    .noPost{
    width:100%;
    max-width: calc(100vw - 20%);
    height: 100%;
    background-image:linear-gradient(to bottom, rgba(29,30,35, 2), rgba(0, 0, 0, 0.493));
    }

}



@media (max-width:768px){
  .container {
    width:100%;
    height: 100%;
    max-width: calc(100vw - 2rem);

    .module_header{
      padding-top: 1rem;
    }
  
    .logo{ 
      position: relative; 
      margin: auto;
      top:-2rem;
      img{
       width:10rem;
       height:5rem;  
      } }  

  .main{
    position: relative;
    padding-top:1rem;
    width: 100%;
  }
  
  .intro_title_main{
    font-size:20px;

  }
  .float_title{
    max-width: calc(100vw - 12rem);
    top:36%;
    left:10%;
  }
  .intro_post_title{
    font-size: 18px;
  }
  .click_more_intro{
    font-size: 12px;
    margin-top: 0.5rem;
  }

  .feed {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left:0;
    height: fit-content;
    padding-bottom: 2rem;
    height: fit-content;
  }
 
  .post{
    max-width: calc(100vw - 50px);
    width: 90%;
    margin-bottom: 3rem;
  
  }
  
}}