// components/Footer.scss

@import "../theme/theme";

.Footer {
  position: relative;
  align-items: center;
  display: inline-block;
  height: fit-content;
  width: 100%;
  margin: auto;
  padding:2rem 1rem 0 3rem;

  background: $brand-primary-dark;
}
.wrapper {
  position: relative;
  display: flex;
  width: 100%;
  color: $primary;
  justify-content: space-between;
}
.advert {
  width: 30%;
  h3 {
    font-family: $title-font;
  }
  p {
    font-family: $core-font;
  }
}
.about {
  position: relative;
  width: 30%;
  margin: auto;

  align-content: center;

  h2 {
    margin: auto;
    font-family: $title-font;
  }
}
.contact {
  width: 30%;
}
.form {
  display: flex;
  flex-wrap: wrap;
  & > input {
    flex: 1 1 10ch;
    margin: 0.5rem;
    &[type="email"] {
      flex: 3 1 30ch;
    }
  }
}
.input {
  border: none;
  background: hsl(0 0% 93%);
  border-radius: 0.25rem;
  padding: 0.75rem 1rem;

  &[type="submit"] {
    background: hotpink;
    color: white;
  }
}
.copyright {
  position: relative;
  width: 10rem;
  height: 5rem;
  position: relative;
  display: block;
  margin: auto;
  font-family: $logo-font;
  font-size: 12px;
  font-weight: bold;
  color: $on-secondary;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  .Footer {
    display: block;
    margin: auto;
  }
  .wrapper {
    position: relative;
    display: block;
    width: 100%;
    margin: auto;
  }
  .advert {
    margin: auto;
    width: 90%;
    margin-bottom: 4em;
  }
  .about {
    margin: auto;
    width: 90%;
    margin-bottom: 3em;
  }
  .contact {
    margin: auto;
    width: 90%;
    margin-bottom: 3em;
  }
}