
// components/Header.scss

@import "../theme/theme";

.Header {
  position:absolute;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  height: 30px;
  width: fit-content;

  padding: 0 20px;

  margin-top: 4.5rem;
  margin-left: 2rem;

  font-family: $logo-font;
  font-size: 24px;
  font-weight: bold;
  color: $on-secondary;
  text-transform: uppercase;

  background: greenyellow;

  cursor: pointer;
}
@media (max-width:768px){
   .Header{
	   display:none;
   }

}