// pages/index.scss
@import "../theme/theme";



/*----------------------main-----*/


.wrapper{
  position: relative;
  width:100%;
  font:$core-font;
  background-color:$brand-secondary;
  scroll-behavior: smooth;
  //height: 100vh;
}
.module_header{
  position: relative;
  display: block;
  width: 100%;
  height:5rem;
  padding-top: 1rem;
  z-index: 9;
  background-color: $brand-secondary;
}
.logo{
  position: relative;
  margin: auto;
  width: fit-content;

  img{
   //background-color: green;
   width:16rem;
   height:5rem;  
  }

}
.module_promo{
  display: flex;
  //gap:1rem;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height:30rem;
  //padding: 3rem 3rem 0rem;
  padding: 3rem;
 
  
}
.one{
  width:50%;
  height: 24rem;
  padding: 2rem;
  padding-top:0;
}
.one h1{
  display: block;
  font-family: $fun-font;
  color: $primary;
  font-weight: 400;
  font-size: 28px;
  line-height:1.5;
  width: fit-content;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box!important;
  transition:color .2s ease-in-out;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-size-adjust: 100%;
  font-style: normal;
}
.one p{
  color:$on-primary;
  //font-family: $core-font;
  font-family: $tan-font;
  font-size: 2rem;
  font-weight: 400;

 
}
.intro_more {
  background-color: $secondary-on;
  font-family: $title-font;
  color: $primary !important;
  display: block;
  height: 40px;
  width: 12rem;
  padding-top:5px;
 // line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border:4px solid $primary
}
.intro_wrapper{
  display: flex;
  gap:3rem;
  align-items:center;
  justify-content: center;
  width: 50%;
  height:30rem;
}
.mainImage_intro{
  position: relative;
  width: 60%;
  height: fit-content;
  outline: 10px solid $primary;
  //background-color: $secondary-dark-on;
  background-color: gray;
 // margin-bottom: 1rem;
//  border: 2px solid $brand-secondary;
  //border-radius: 25px;
 
  }
  .mainImage_intro img {
    width: 100%;
    height: auto;
    aspect-ratio: 1600 / 1094;
    transform: rotate(38deg);
    outline: 10px solid $primary;
    
  }
  .overlay_text{
    position: absolute;
    bottom: 10px;
    left: 10px;
    margin-bottom: -2rem;
    margin-left:-6rem;
    font-family:$sig-font;
    font-size: 3rem;
    font-weight: 400;
    line-height: 3.1rem;
    color:$on-primary;
    transform: rotate(-15deg);
    //font-family:$tan-font;
 
  
  }
.post {

  //margin: 25px;
  width: 50%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  max-width: calc(100vw - 50px);
 // box-shadow: 2px 2px 10px #246756;
 // border-radius: 25px;
 h4{
  font-size: 0.7rem;
  font-family: $core-font;
  color: #ee6677;
}

 

}

.post_title{
  display: block;
  font-weight: 400;
  font-family: $article-title-font;
  font-size: 28px;
  line-height:130%;
  width: fit-content;
  margin: auto;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box!important;
  transition:color .2s ease-in-out;
  color:#1c1b1b;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-size-adjust: 100%;
  font-style: normal;
  margin-bottom: 0;

}
.blocks{
  display: block;
  display: -webkit-box;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box!important;
  -webkit-font-smoothing: antialiased;
  font-family: $base-font;
  color:#1c1b1b;
  width:100%;
  font-size: 14px;
  line-height:1.5;
  overflow: hidden !important;
  max-height: 8rem;
  text-align:left;
  margin-bottom: 20px;
  font-weight: 100;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  margin-top: 0;
}
.blocks img{
 display: none;
}
.avatar_date{
  display: flex;
  flex-direction: row;
  width: fit-content;
  //padding-left: 0.5rem;
  margin:auto;
  margin-bottom: 1rem;
}



.mainImage {
  width: 100%;
  height: fit-content;
  overflow: hidden;

}

.mainImage img {
  width: 100%;
  height: auto;
  aspect-ratio: 2000 / 1309;
  transform-origin: 50% 65%;
transition: transform 5s, filter 3s ease-in-out;
filter: brightness(150%);
}
.mainImage:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.box {
  
input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  
}


input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}

input:checked + p {
  -webkit-line-clamp: unset;
}

input:checked ~ label {
  display: none;
}

}
.box {
background-color:inherit;
//box-shadow: 2px 2px 10px #246756;
padding: 2em 0;
padding-top: 0;
width: 100%;
max-width: calc(100vw - 20%);

p {
  margin: 0;
}

label {
  display: block;
  position: relative;
  width: fit-content;
  //border-radius: 4px;
 // padding: 0.2em 0.6em;
//  border: 1px solid #009ce2;
 // background-color: $brand-secondary-darker;
  //color: $primary;
  color:#1c1b1b;
  font-size: 1em;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  font-family: $base-font;
  //text-decoration: underline;
  border-bottom: 1.5px solid #000;
 
}
}
.noPost{
width:100%;
max-width: calc(100vw - 20%);
height: 100%;
background-image:linear-gradient(to bottom, rgba(29,30,35, 2), rgba(0, 0, 0, 0.493));
}



/*------------------------------------------------------------------------------------------------------
-
----------------------------mental health section---------------------------------------------------------

-------------------------------------------------------------------------------------------*/
.mentalHealth{
  position: relative;
  display: block;
  width: 100%;
  height:38rem ;

  h1{
    font-size: 30px;
    font-weight: 900;
    font-family: $core-font;
    color:white;
    margin-left: 4rem;
    margin-bottom: 4rem;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
  
}
.post_col_4{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content:space-between;
  //gap: 4rem;
  height:34rem;
  width: 100%;
  padding-left: 6rem;
  padding-right: 0;

}
  
.section_post{
  max-width: calc(100vw - 50px);
  height:30rem;
  width:28%;
  padding: 0rem 1rem 0.5rem 1rem;
  cursor: pointer;
  background-color: antiquewhite;
}

.advert2_wrapper{
  position: relative;
  display: block;
  height:200px;
  width: 100%;
 // padding-top:1rem;
  background-color: $brand-primary;
  scroll-behavior: smooth;
}
.parallax_one {
  /* The image used */
  /*background-image: url('../public/a.webp');*/

  /* Full height */
  height: 200px; 
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}

.h1_advert2{
  margin:2rem auto 2rem;
  text-align: center;
  color: white;
  text-transform:uppercase;
  font-family: $title-font;
  font-weight: 400;
}

.advert2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.circle1_1{
  position: relative;
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
  overflow: hidden;
}
.circle1_1 img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}
.circle1_1:hover img {
  filter: brightness(100%);
  transform: scale(3);
}

.circle2_1{
  position: relative;
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
  overflow: hidden;
}
.circle2_1 img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}
.circle2_1:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.circle3_1{
  position: relative;
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
  overflow: hidden;
}
.circle3_1 img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  transform-origin: 50% 65%;
  transition: transform 5s, filter 3s ease-in-out;
  filter: brightness(150%);
}
.circle3_1:hover img {
  filter: brightness(100%);
  transform: scale(3);
}
.overlay_circle{
  position: absolute;
  bottom: 10px;
  left: 48px;
  width:8rem;
  text-align: center;
  font-family:$core-font;
  cursor: pointer;
  
  
  background-color: rgba(255,255,255,0.5);
  
  p{
    font-size: 16px;
    font-weight: 900;
    color:$on-primary;
    
  }

}





/*------------------------------------------------------------------------------------------------------
-
-----------------------lifestyle section -----------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/

.lifestyle{
  position: relative;
  display: block;
  width: 100%;
  height:38rem ;

  h1{
    font-size: 30px;
    font-weight: 900;
    font-family: $core-font;
    color:white;
    margin-left: 4rem;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }

}



.advert3{
  position: relative;
  display: block;
  height:300px;
  width: 100%;
  background-color: $on-primary-light;
  scroll-behavior: smooth;
}
.parallax_two {
  /*background-image: url('../public/b.webp');*/
  height: 300px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  width:100%;
  -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
}
.h1_advert3{
  margin:2rem auto 2rem;
  text-align: center;
  color: white;
  text-transform:capitalize;
}
.rect1{
  height: 18rem;
  width:36rem;
  margin: auto;
  background-color: $primary;
}
/*      end lifestyle section  -----------------------------------------*/
/*--------------------------------------------------------------------------

------------------foodRecipe section----------------------------------------

---------------------------------------------------------------------------*/

.foodRecipe{
  position: relative;
  display: block;
  width: 100%;
  height:38rem ;

  h1{
    font-size: 30px;
    font-weight: 900;
    font-family: $core-font;
    color:white;
    margin-left: 4rem;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
  }
 
}

/*---------------------------end foodrecipe section----------------------------------------
------------------------------------------------------------------------------------------*/


/*-------media querries----*/

@media (max-width: 768px) {
  
  .wrapper{
    position: relative;
    width:100%;
    //height: 100vh;
  }
  .module_header{
    padding-top: 1rem;
  }

  .logo{  
    img{
     width:14rem;
     height:6rem;  
    }
  
  }
  .module_promo{
    position: relative;
    flex-direction: column;
    margin: auto;
    width: 90%;
    height:fit-content;
    //padding: 3rem 3rem 0rem;
    padding: 0rem; 
    padding-bottom:2rem; 
  }
  .one{
    width:100%;
    height: 20rem;
    padding: 8%;
  }
  .one h1{
    font-size: 20px;
  }
  .one p{
    font-size:1.5rem;

  }
  
  .intro_more {
    width:10rem;
    height:30px;
    font-size: 0.8rem;
    text-transform: uppercase;
   
  }
  .intro_wrapper{
    flex-direction: column;
    width: 100%;
    height:fit-content;
    margin: auto;   
  }
  .mainImage_intro{
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .overlay_text{
    margin-left: -4.5rem;
    margin-bottom: -5rem;
   // width:200px;
   transform: rotate(-10deg);
  }
  .post {
    width:100%;
    height:30rem;
    margin: auto;
    cursor: pointer;
    text-align: center;
    max-width: calc(100vw - 50px);
    box-shadow: none;
    border-radius: 0;
  }

  .mainImage {
    width: 100%;
    height: 14rem;
    transition: 0.2s;
    //border-radius: 5px;
    max-width: calc(100vw - 50px);
    box-shadow: none;
  }
  
  /*--------------------------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------------------
-
----------------------------mental health section---------------------------------------------------------

-------------------------------------------------------------------------------------------*/
.mentalHealth{
  width: 90%;
  margin: auto;
  padding: 1rem 0 1rem;
  height: fit-content;
  
  h1{
    font-size:22px;
    margin-left:2rem;
    margin-bottom:3rem;
  }

}
.post_col_4{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left:0;
  height: fit-content;
  padding-bottom: 2rem;
  height: fit-content;
}
.section_post{
  max-width: calc(100vw - 50px);
  width: 90%;
  margin-bottom: 4rem;

}




.advert2_wrapper{
  height:4.4rem;

}
.parallax {
  background-attachment: scroll;
}
.advert2{
  flex-wrap:nowrap;
  gap: 0.5rem;

}
.circle1_1{
  height: 6rem;
  width: 6rem;
}
.circle2_1{
  height: 6rem;
  width: 6rem;
 
}
.circle3_1{
  height: 6rem;
  width: 6rem;
}
.overlay_circle{
  width:4rem;
  left: 1rem;
   
  h2{
    font-size:12px;
  }

  p{
    font-size:10px;
  }
}


/*------------------------------------------------------------------------------------------------------
-
-----------------------lifestyle section -----------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/

.lifestyle{
  flex-direction: column;
  height:max-content;
  width: 90%;
  padding: 0;
  margin: 1rem auto 1rem;

  h1{
    font-size:22px;
    margin-left:2rem;
    margin-bottom:3rem;
    margin-top: 4rem;
  }
}

.advert3{
  height:4rem;
}
.parallax {
  background-attachment: scroll;
}
.rect1{
  height: 10rem;
  width:20rem;
  margin: auto;
  background-color:$primary;
}
/*      end lifestyle section  -----------------------------------------*/
/*--------------------------------------------------------------------------

------------------foodRecipe section----------------------------------------

---------------------------------------------------------------------------*/

.foodRecipe{
  flex-direction: column;
  height:max-content;
  width: 90%;
  margin: 1rem auto 1rem;

  h1{
    font-size:22px;
    margin-left:2rem;
    margin-bottom:3rem;
    margin-top: 4rem;
  }
}

/*---------------------------end foodrecipe section----------------------------------------
------------------------------------------------------------------------------------------*/
  
}