// pages/index.scss
@import "../theme/theme";



/*----------------------main-----*/


.wrapper{
  position: relative;
  width:100%;
  font:$core-font;
  background-color:$brand-secondary-light;
  //height: 100vh;
}
.module_header{
  position: relative;
  display: block;
  width: 100%;
  height:5rem;
  padding-top: 1rem;
  z-index: 9;
  background-color: $brand-secondary-light;
}
.logo{
  position: relative;
  margin: auto;
  width: fit-content;

  img{
   //background-color: green;
   width:16rem;
   height:5rem;  
  }

}
.module_promo{
  display: flex;
  gap:1rem;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height:44rem;
  //padding: 3rem 3rem 0rem;
  padding: 3rem;
  
}
.one{
 // background-color: green;
  width:30%;
  height: 24rem;
  padding: 2rem;
}
.one h1{
  font-family: $fun-font;
  color: $primary;
}
.one p{
  color:$secondary;
  //font-family: $core-font;
  font-family: $tan-font;
  font-size: 2rem;
  font-weight: 300;
}
.intro_more {
  background-color: $brand-primary;
  font-family: $title-font;
  color: $primary !important;
  display: block;
  height: 40px;
  padding-top:5px;
 // line-height: 40px;
  text-decoration: none;
  width: 12rem;
  text-transform: uppercase;
  text-align: center;
  border:4px solid $primary
}
.intro_wrapper{
  display: flex;
  gap:1rem;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
  height:30rem;

}
.post {
  //margin: 25px;
  width: 50%;
  height: 100%;
  //background-color: rgb(250, 250, 250);
  cursor: pointer;
  text-align: center;
  max-width: calc(100vw - 50px);
 // box-shadow: 2px 2px 10px #246756;
 // border-radius: 25px;
 h4{
  font-size: 0.7rem;
  font-family: $core-font;
  color: #ee6677;
}

 

}

.post_title{
  font-weight: 900;
  font-family: $fun-font;
  text-transform: capitalize;
  //color:;
  font-size: 1.3rem;
  line-height:1.4rem;
  //height: 3rem;
  width: fit-content;
  margin: auto;

}
.blocks{
  font-family: $core-font;
  color:#180d0d;
  width:100%;
  font-size: 1em;
  line-height: 1;
  overflow: hidden;
  display: block;
  height: 6rem;
  text-align:left;
  margin-bottom: 2rem;
  font-weight: 100;
  color:$secondary

}
.avatar_date{
  display: flex;
  flex-direction: row;
  width: fit-content;
  //padding-left: 0.5rem;
  margin:auto;
  margin-bottom: 1rem;
}

.mainImage_intro{
  width: 50%;
  height: 8rem;
  transition: 0.2s;
  outline: 6px solid $primary;
 // margin-bottom: 1rem;
  border: 0.5px solid $brand-secondary;
  //border-radius: 25px;
  }
.mainImage {
width: 90%;
height: 24rem;
transition: 0.2s;
outline: 10px solid $brand-primary;
border: 0.5px solid $brand-secondary;
//margin-bottom: 1rem;
//border-radius: 25px;
}
.box {

input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

p {
  display: -webkit-box;
  -webkit-line-clamp: none;
  -webkit-box-orient: vertical;
 margin: 0;
  overflow: hidden;
}

input:focus ~ label {
  outline: -webkit-focus-ring-color auto 5px;
}

input:checked + p {
  -webkit-line-clamp: unset;
}

input:checked ~ label {
  display: none;
}

}
.box {
background-color:inherit;
//box-shadow: 2px 2px 10px #246756;
padding: 2em;
padding-top: 0;
width: 100%;
max-width: calc(100vw - 20%);

p {
  margin: 0;
}

label {
  //border-radius: 4px;
  padding: 0.2em 0.6em;
//  border: 1px solid #009ce2;
  background-color: $brand-secondary-darker;
  color: $primary;
  font-size: 1em;
  font-weight: 900;
  font-family: $title-font;
}
}
.noPost{
width:100%;
max-width: calc(100vw - 20%);
height: 100%;
background-image:linear-gradient(to bottom, rgba(29,30,35, 2), rgba(0, 0, 0, 0.493));
}


.advert1_wrapper{
  display: block;
  height:400px;
  width: 100%;
  padding-top:1rem;
  background-color: $brand-secondary-light;

}
.h1_advert1{
  margin:2rem auto 2rem;
  text-align: center;
  color: white;
  text-transform:capitalize;
}
.advert1{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  margin: auto;

}
.circle1{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}
.circle2{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}
.circle3{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}

/*------------------------------------------------------------------------------------------------------
-
----------------------------mental health section---------------------------------------------------------

-------------------------------------------------------------------------------------------*/
.mentalHealth{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  height:44rem;
  width: 100%;
  padding: 0 2rem 0;
  padding-top: 2rem;
}
.mental_post{
  max-width: calc(100vw - 50px);
  height:30rem;
  width:30%;
  cursor: pointer;
  //background-color: antiquewhite;


}


.advert2_wrapper{
  position: relative;
  display: block;
  height:400px;
  width: 100%;
  padding-top:1rem;
  background-color: $brand-secondary-light;
}
.h1_advert2{
  margin:2rem auto 2rem;
  text-align: center;
  color: white;
  text-transform:capitalize;
}
.advert2{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

}
.circle1_1{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}
.circle2_1{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}
.circle3_1{
  height: 14rem;
  width: 14rem;
  border-radius: 100%;
  background-color: $primary;
}


/*------------------------------------------------------------------------------------------------------
-
-----------------------lifestyle section -----------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/

.lifestyle{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  height:44rem;
  width: 100%;
  padding: 0 2rem 0;
  padding-top: 2rem;

}
.lifestyle_post{
  max-width: calc(100vw - 50px);
  height:30rem;
  width:30%;
  cursor: pointer;
  //background-color: antiquewhite;

}

.advert3{
  position: relative;
  display: block;
  height:460px;
  width: 100%;
  padding-top:1rem;
  background-color: $brand-secondary-light;
}
.h1_advert3{
  margin:2rem auto 2rem;
  text-align: center;
  color: white;
  text-transform:capitalize;
}
.rect1{
  height: 18rem;
  width:36rem;
  margin: auto;
  background-color: $primary;
}
/*      end lifestyle section  -----------------------------------------*/
/*--------------------------------------------------------------------------

------------------foodRecipe section----------------------------------------

---------------------------------------------------------------------------*/

.foodRecipe{
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
  padding-top: 2rem;
  height:44rem;
  width: 100%;
 
}
.food_post{
  max-width: calc(100vw - 50px);
  height:30rem;
  width:30%;
  cursor: pointer;
  //background-color: antiquewhite;

}

/*---------------------------end foodrecipe section----------------------------------------
------------------------------------------------------------------------------------------*/


/*-------media querries----*/

@media (max-width: 768px) {
  
  .wrapper{
    position: relative;
    width:100%;
    //height: 100vh;
  }
  .module_header{
    padding-top: 3rem;
  }

  .logo{  
    img{
     width:14rem;
     height:2.5rem;  
    }
  
  }


  .module_promo{
    position: relative;
    flex-direction: column;
    margin: auto;
    margin-top:2rem;
    width: 90%;
    height:fit-content;
    //padding: 3rem 3rem 0rem;
    padding: 0rem; 
    padding-bottom:2rem; 
  }
  .one{
    width:100%;
    height: 24rem;
    padding: 8%;
  }
  
  .intro_more {
    text-transform: uppercase;
  }
  .intro_wrapper{
    flex-direction: column;
    width: 100%;
    height:max-content;
    margin: auto;
   
  }
  .post {
    width:100%;
    height:30rem;
    margin: auto;
    cursor: pointer;
    text-align: center;
    max-width: calc(100vw - 50px);
    box-shadow: none;
    border-radius: 0;
  }
  .mainImage {
    width: 100%;
    height: 14rem;
    transition: 0.2s;
    //border-radius: 5px;
    max-width: calc(100vw - 50px);
    box-shadow: none;
  }
  
  .advert1_wrapper{
    height:max-content;
  
  }

  .advert1{
   flex-wrap: wrap;
    gap: 0.5em;
  
  }
  .circle1{
    height: 8em;
    width: 8em;
  }
  .circle2{
    height: 8rem;
    width: 8rem;
  }
  .circle3{
    height: 8rem;
    width: 8rem;
  
  }
  /*--------------------------------------------------------------------------------------------------
  --------------------------------------------------------------------------------------------------
-
----------------------------mental health section---------------------------------------------------------

-------------------------------------------------------------------------------------------*/
.mentalHealth{
  flex-direction: column;
  height:max-content;
  width: 90%;
  margin: auto;
  padding: 1rem 0 1rem;
}
.mental_post{
  width:100%;
    height:30rem;
    margin: auto;
    cursor: pointer;
    text-align: center;
    max-width: calc(100vw - 50px);
    box-shadow: none;
    border-radius: 0;
}



.advert2_wrapper{
  height:max-content;
  padding-bottom: 2rem;
}
.advert2{
  flex-wrap: wrap;
  gap: 0.5rem;

}
.circle1_1{
  height: 8rem;
  width: 8rem;
}
.circle2_1{
  height: 8rem;
  width: 8rem;
 
}
.circle3_1{
  height: 8rem;
  width: 8rem;
}


/*------------------------------------------------------------------------------------------------------
-
-----------------------lifestyle section -----------------------------------------------------------------

-----------------------------------------------------------------------------------------------------*/

.lifestyle{
  flex-direction: column;
  height:max-content;
  width: 90%;
  padding: 0;
  margin: 1rem auto 1rem
}
.lifestyle_post{
  width:100%;
  height:30rem;
  margin: auto;
  cursor: pointer;
  text-align: center;
  max-width: calc(100vw - 50px);
  box-shadow: none;
  border-radius: 0;
}
.advert3{
  height:max-content;
  padding-bottom: 2rem;
}
.rect1{
  height: 10rem;
  width:20rem;
  margin: auto;
  background-color:$primary;
}
/*      end lifestyle section  -----------------------------------------*/
/*--------------------------------------------------------------------------

------------------foodRecipe section----------------------------------------

---------------------------------------------------------------------------*/

.foodRecipe{
  flex-direction: column;
  height:max-content;
  width: 90%;
  margin: 1rem auto 1rem;
}
.food_post{
  width:100%;
    height:30rem;
    margin: auto;
    cursor: pointer;
    text-align: center;
    max-width: calc(100vw - 50px);
    box-shadow: none;
    border-radius: 0;
}
/*---------------------------end foodrecipe section----------------------------------------
------------------------------------------------------------------------------------------*/
  
}