// components/Layout.scss

@import "../theme/theme";


.Layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  // background-color:black;
  background-color: inherit;

  .Content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    //background: $secondary;
    //color: $on-secondary;
    color: #222222;
    font-family: $core-font;

    a {
      color: inherit;
    }
  }
}
//meadia queries

@media screen and (max-width: 768px) {
  /* .Layout{
    background-color: green;
    width: 100%;
    height: 100%;

    .Content{
      display:block;
    }

  }
   */
}