@import "../theme/theme";

.nav {
  font-family:$title-font;
  background: $brand-secondary;
  //border-bottom: 1px solid #ebebeb;
  //box-shadow: 2px 4px 5px lightgrey;
  padding: 1em;

  ul {
    list-style-type: none;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: transparent;

    li {
      text-align: center;
      padding: 1em;
      a {
        text-decoration: none;
        color: $link-color-alt;


        &:hover {
          color: $link-hover;
        }
      }
      &.active {
        a {
          color: $link-active;
        }
      }
    }
  }
}

//hide checkbox input element
.menu_toggle {
  opacity: 0;
}

// Show menu when #menu-toggle checkbox is checked, use ~
.menu_toggle:checked ~ .menu {
  display: flex;
  background-color: $brand-primary;
  padding-top: 4em;
  padding-bottom: 4em;
}

.menu_icon {
  position: relative;
  float: right;
  span {
    display: block;
    background: $secondary-dark;
    width: 24px;
    height: 3px;
    margin: 4px;
    border-radius: 3px;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
  }
}

@media only screen and (min-width: 48em) {
  .nav {
    font-family: Arial Bold;
    width: 100%;
    height: 4em;
    position: static;
    background-color:$brand-secondary-light;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    ul {
      list-style: none;
      position: relative;
      margin: auto;
      width: 60em;
      display: flex;
      flex-flow: row nowrap;
      li {
        padding: 0 15px;
        color: #fff;
        font-size: 1em;
        cursor: pointer;
        font-family:$title-font;
        //border-right: 0.5px solid #7e5e60;
        a {
          //color: $link-color-alt;
          color:$brand-primary-dark;
          text-shadow: -1px 1px 0 white;
                         
        }
      }
      li:last-child {
        border: none;
      }
    }
  }

  //checkbox toggle will hide when breakpoint is beyond mobile
  .menu_toggle,
  .mobile_menu_label {
    display: none;
  }

  .mobile_menu_label {
    padding: 1.5em 1em;
  }
  .menu {
    display: none;
    background: transparent;
  }
}