@import "../theme/theme";

.container {
    width:100%;
    height: 100%;
    margin:auto;
    background-color:#f9f7f4;
    padding-bottom:6rem;




.main {
    position: relative;
    display: block;
    margin:auto;
    width:100%;
    background-color: #ffff;
    align-items: center;
    text-align: center;
}
.mainImage{ 
    margin: auto;
    width: 70%;
    height: 80vh;
    object-fit:contain;
    margin-top: 4rem;
    margin-bottom: 4rem;
    
}
.body_wrapper{
    position: relative;
    margin: auto;
    margin-bottom: 2rem;
    width:70%;
    background-color: ivory;
    padding: 2rem;
    padding-top: 6rem;
    
}
.post_title{
    text-transform: uppercase;
    font-family:$base-font;
    font-weight: 900;
    color: #23232b;
    width: fit-content;
    max-width:90%;
    margin: auto;

}
.body{
    width: 100%;
    text-indent: 1px;
    line-height: 1.4em;
    text-align: justify;
    letter-spacing: 0.02em;
    font-family: $core-font;
    color:#292828;
    margin: 0;
    font-size: 1.3em;  
}
.body img{
    width:40%;
    height:auto;
    aspect-ratio: 3 / 2;
   }

.avatarContainer{
    display:flex;
    align-items:center;
    flex-direction:row;
    margin-right:2rem;
}
.avatarRoundImage{
    border-radius:100%;
    background-color:inherit;
    width:2.5rem;
    height:2.5rem;


}
.avatarFont{
    color:grey;
    font-weight:400;
    margin-left:0.5rem;
    padding-bottom:0.5rem;
    font-size:0.8rem;

}

.avatar_date{
    display: flex;
    flex-direction: row;
    padding-left: 0.5rem;
  }
}

//for post
.commentContainer{
    margin-top: 10rem;
    border-top: 1px solid $brand-secondary-darker;
    width:100%;
    padding: 1rem 4rem 1rem;
    max-width: calc(100vw - 20px);
    box-shadow: 2px 2px 10px $secondary-dark;
}



@media (max-width:768px){
    .container {
        width:100%;
        height: 100%;
        margin:auto;
        max-width: calc(100vw);
        padding-top:2rem;
        padding-bottom:6rem;
    



    .main {


        margin:auto;
        width:100%;
        z-index: 9;
        padding: 2rem 1rem 2rem 1rem;
        background-color: ivory;
        align-items: center;
        max-width: calc(100vw);
        box-shadow: 2px 2px 10px #000000;
    }
    .mainImage{
        width: 100%;
        max-height: 40vh;
    }
    .body_wrapper{
        width:96%;
        margin-top: 0;
        padding-top: 2rem;
        margin-bottom: 0;
    }
    .post_title{
        font-size: 1.1em;
        

    }
   

    .body{
     
        font-size: 1em;
        
    }
    }

    .commentContainer{
        padding: 3%;
        margin-top: 4rem;
    }


}